.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
.rectcontainer {
    /* width: 99%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 25px;
}
.rect {
    width: 2px;
    height: 10px;
    background-color: black;
    /* border: 1px solid black; */
    /* margin: 2px; */
}
.dLabels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.label {
    /* background-color: teal; */
    width: 60px;
    /* border: 1px solid black; */
}
.radiocontainer {
    margin-top: 2em;
}
  .slider {
    -webkit-appearance: none;
    width: 99%;
    height: 25px;
    background:#e76060; 
    /* #d3d3d3; */
    outline: none;
    border: 1px solid white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* padding: 0px; */
    margin-top: 5px;
  }
  .track {
    width: 99%;
    height: 25px;
    background-color:#e76060; 
    /* #d3d3d3; */
    outline: none;
    border: 1px solid white;
    outline: none;
    opacity: 0.7;
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
    /* padding: 0px; */
    /* margin-top: 5px; */
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #d3d3d3;;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #d3d3d3;
    cursor: pointer;
  }


  .yearSliderContainer {
      /* width: 30%; */
      display: flex;
      flex-direction: row;
      /* border: 1px solid black; */
      justify-content: space-around;
      margin-left: 15px;

  }
  .sliderYear {
      margin-left: 10px;
      margin-right: 10px;
      width: 500px;
  }
    div.tooltip {	
        position: absolute;			
        text-align: center;			
        width: 100px;					
        height: 40px;					
        padding: 2px;				
        font: 12px sans-serif;		
        background: lightsteelblue;	
        border: 0px;		
        border-radius: 8px;			
        pointer-events: none;			
    }

.charts {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#map {
    position: relative; 
    width: 50%; 
    max-height: 350px;
}

/* #dataviz {
    position: relative; 
    width: 50%; 
    max-height: 450px;
} */